@media screen and (max-width:992px) and (min-width:769px) {
    /*------navegador------*/
    nav>ul>ul{
        list-style: none;
        width: 60%;
        display: flex;
        justify-content: space-around;
    }

    article.furia{
        margin-bottom: 10px;
    }
    article.furia p{
        width: 100%;
    }
    article.furia>div.furiaImg{
        width: 60%;
        margin: 15px;
    }
    .mascaraP{
        width: 50%;
    }
    .cuadrosP{
        width: 100%;
    }
    .sliderP{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    @keyframes slider{
        0%{left: 0;}
        15%{left: 0;}
        
        25%{left: -100%;}
        40%{left: -100%;}
        
        50%{left: -200%;}
        65%{left: -200%;}
        
        80%{left: -300%;}
        100%{left: -300%;}
    }
}