@media screen and (max-width:1400px) and (min-width:993px){

}


@media screen and (max-width:992px) and (min-width:769px) {
    /*------navegador------*/
    nav>ul>ul{
        list-style: none;
        width: 60%;
        display: flex;
        justify-content: space-around;
    }

    article.furia{
        margin-bottom: 10px;
    }
    article.furia p{
        width: 100%;
    }
    article.furia>div.furiaImg{
        width: 60%;
        margin: 15px;
    }
    #club{
        margin-bottom: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .personal, .uniforme{
     width: 45%;

    }
    .mascaraP{
        width: 100%;
        height: 500px;
    }
    .cuadrosP{
        width: 100%;
    }
    .sliderP{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    @keyframes slider{
        0%{left: 0;}
        15%{left: 0;}
        
        25%{left: -100%;}
        40%{left: -100%;}
        
        50%{left: -200%;}
        65%{left: -200%;}
        
        80%{left: -300%;}
        100%{left: -300%;}
    }
    .uniforme{
        margin-top: 0px;
    }
}